*{ 
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        box-sizing: inherit;
       }

body {
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
}

ol, ul {
list-style: none;
}



.row{
        padding: 80px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: #dbdeff;
}



.row__column + .row__column{
        margin-left: 30px;
}

.row__column--1{
        flex-grow: 1;
}

.row__column-item--box1{
        background-color: #d30557;
        margin-bottom: 30px;
        height: 100px;
}


.row__column-item--box2{
        background-color: #ea6601;
        height: 300px;
}
.row__column--2{
        flex-grow: 3;
}

.row__column-item--3{
        margin-bottom: 30px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 100px;
}
.row__column-item--box3{
        background-color: #00aba5;
        margin-right: 30px;
        height: 100%;
        flex-grow: 3;
}

.row__column-item--4{
        height: 300px;
        flex-grow: 3;
}
.row__column-item--box4{
        background-color: #009a78;
        height: 100%;
        flex-grow:1;
}

.row__column-item--box5{
        background-color: #ff8961;
        height: 100%;
       
}
.row__column--3{
        flex-grow: 2;
        display:flex;
        justify-content: space-between;
        align-items: center;
}

.row__column-item--5{
        margin-right: 30px;
        flex-grow: 3;
}

.row__column-item--6{
        margin-right: 30px;
        flex-grow: 6;
}


.row__column-item--box6{
        background-color: #2196d9;
        height: 430px;
}


.row__column-item--7{
        flex-grow: 1;
}
.row__column-item--box7{
        background-color: #1b6d9f;
        height: 430px;
}

.row__column-item--box8{
        background-color: #5ac1fc;
        height: 430px;
}





















